* {
    font-size: 16.5px;
    align-items: center;
    text-align: center;
}

 span {
    color: #037BC0;
}

body {
    font-family: "Raleway", sans-serif;
    line-height: 2;
}

img {
    width:100%;
    height: auto;
}

h1 h2 h3 span {
    font-family: "Playfair", serif;
}

h1 span{
    font-size: 5rem;
}

h2 h3 {
    font-size: 4cqmin;
}

.color-Producto {
    background: blue;
    background-size: cover;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: space-between;
}

.hero {
    background-image: url('/images/principal.jpg');
    width: 100%;
    height: 45rem;

}

.footer-columns {
    display: flex;
    justify-content: space-between;
    gap: 2rem
}

.footer-columns ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
}

.footer-columns ul li {
    text-align: center;
}

section h2 {
    text-align: center;
    max-width: 100%;
}

.Producto1 article {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

.imagenP1 img {
    grid-column-start: 1;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

#descP1 {
    grid-column-start: 2;
}
.Producto2{
    display: grid;
    grid-template-columns: 50% 50%;
}
.Producto2 img {
    gap: 2rem;
    border-radius: 4px;
}
.Productos456
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Categorias
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}